<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Experiment</title>
  </head>
  <style>

  .bg {
      /* The image used */
      background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

      }


   .footer {
  position: float;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b6c0cc;
  text-align: center;
  padding-bottom: 0.5%;
  }
  </style>
  <body>
    <div class="bg">
    <nav class="navbar navbar-expand-md navbar-light bg-light border sticky-top">
  <a class="navbar-brand" style="color: #3c6afc; vertical-align: inherit;" href="/">Abhinav Kumar  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2">
      <li class = 'nav-item'>
        <a class = 'nav-link' id = "index-nav-link" href="{{url_for('core.index')}}">Home</a>
      </li>
      <li class = 'nav-item'>
        <a class = 'nav-link' id = "index-nav-link" href="{{url_for('core.info')}}">About Me</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto mt-2">
      <li class = 'nav-item'>
        <a class = 'nav-link'  href="https://github.com/Abhinavk910" target="_blank">GitHub</a>
      </li>
      <li class = 'nav-item'>
        <a class = 'nav-link'  href="https://www.kaggle.com/abhinavkum" target="_blank">Kaggle</a>
      </li>
      <li class = 'nav-item'>
        <a class = 'nav-link'  href="https://public.tableau.com/profile/abhik910#!/" target="_blank">Tableau</a>
      </li>
      <li class = 'nav-item'>
        <a class = 'nav-link'  href="https://www.linkedin.com/in/Abhinavk910/" target="_blank">LinkedIn</a>
      </li>
    </ul>
  </div>
</nav>
      <div class="container">
      {% block content %}


      {% endblock %}
    </div>

    <!--
    <div class="footer">
      <div class="text-center pt-2 ">
        <h6 class="text-uppercase font-weight-bold" >contact</h6>
        <p>-
           +91-7982585375
           <br>
           New Delhi, India
         </p>
      </div>
    </div> -->
    <!-- <nav class="navbar navbar-light bg-light border  navbar-fixed-bottom">
      <div class="text-center">
        <h6 class="text-uppercase font-weight-bold" >contact</h6>
        <p>
           +91-7982585375
           <br>
           New Delhi, India
         </p>
      </div>
    </nav> -->
    <footer class="footer">
          <div class="container">
            <span class="text-muted font-weight-bold">CONTACT</span>
            <span class = text-Center> <br> +91-7982585375 <br>
            New Delhi, India</span>
          </div>
        </footer>

  </body>
</html>
