{% extends 'base.html' %}

{% block content %}

<div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg); height: 100%;">
  <div class="text-white text-center py-5 px-4">
    <div>
      <!-- <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>DATA SCIENCE & SUSTAINABILITY</strong></h2> -->
      <p class="mx-5 mb-5">
        Hello, my name is Abhinav Kumar. I am a Mechanical Engineer, with 4 years of experience in Oil and Gas Energy. I am passionate about data science.
        I learned to program with various online and offline courses, StackOverflow and Trial-and-Error. I learn something new through every project I develop
        which include data analysis, visualization, and implementing machine learning pipelines. I will showcase some of my projects here, and link them to their GitHub repositories.
        I present a few stages of my learning path and the knowledge that I have acquired below.

      </p>
    </div>
  </div>
</div>







<div class="container py-5">

    <h2 class="bg-info  text-center">Data Science Journey</h2>
    <hr class="bg-info">

    <div class="container py-1">

        <!-- timeline item 1 -->
        <div class="row no-gutters">
            <div class="col-sm"> <!--spacer--> </div>
            <!-- timeline item 1 center dot -->
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill bg-light border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <!-- timeline item 1 event content -->
            <div class="col-sm py-2">
                <div class="card">
                    <div class="card-body">
                        <!-- <div class="float-right text-muted small">Jan 9th 2019 7:00 AM</div> -->
                        <h4 class="card-title text-muted">2018</h4>
                        <ul>
                          <li>
                            <p class="card-text">
                              <a href="https://confirm.udacity.com/HKAREXDF" target="_blank" class="about-link">
                              Udacity's Python Foundation Nanodegree Program
                             </a>
                              : Learned Python programming fundamentals and Web scraping.
                            </p>
                            </li>
                            <li>
                            Data collection from web scraping.
                           </li>
                           <li>
                            OpenCV Basic
                           </li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
        <!--/row-->
        <!-- timeline item 2 -->
        <div class="row no-gutters">
            <div class="col-sm py-2">
                <div class="card border-success shadow">
                    <div class="card-body">
                        <!-- <div class="float-right text-success small">Jan 10th 2019 8:30 AM</div> -->
                        <h4 class="card-title text-success">2019</h4>
                        <ul>
                          <li>
                            <p class="card-text">
                              <a href="https://www.udemy.com/certificate/UC-Z388DKO4/" target="_blank" class="about-link">
                              Data Analysis with Pandas
                             </a>
                              : Performed data manipulation using pandas including grouping, pivoting, stacking and joining.
                            </p>
                            </li>
                            <li>
                              <a href="https://www.udemy.com/certificate/UC-LKVQ99E6/" target="_blank" class="about-link">
                              Machine Learning</a>
                              : Completed basic understanding of Machine Learning Model.
                            </li>
                            <li>
                              <a href="https://www.udemy.com/certificate/UC-6GYMDGAB/" target="_blank" class="about-link">
                                Tableau : Hands-On Training for Data Science
                              </a>
                            : Done exploring, preparing and presenting data in dashboard.
                           </li>
                           <li>
                           SQL Basic</li>
                           <li>
                            <a href="https://www.73strings.com/" target="_blank" class="about-link">

                            Internship - 73 Strings </a>
                            : Data extraction and created NLP model for building AI enabled financial advisory platform.
                            </li>
                            <li>
                              <a href="https://coursera.org/share/41376b14fa9370d052f6159eb7fa1500" target="_blank" class="about-link">Coursera's Deep Learning Specialization</a>
                              : Learned the foundations of Deep Learning and about CNN, RNNs, LSTM and NLP.
                            </li>
                            <li>
                              <a href="https://coursera.org/share/1ec06c727285aa15375ce3bc6f41924e" target="_blank" class="about-link">Coursera's TensorFlow in Practice Specialization</a>
                              : Discovered the tools used to build scalable AI-powered algorithms in TensorFlow, a popular open-source machine learning framework.
                            </li>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="badge badge-pill bg-success">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col border-right">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
            </div>
            <div class="col-sm"> <!--spacer--> </div>
        </div>
        <!--/row-->
        <!-- timeline item 3 -->
        <div class="row no-gutters">
        <div class="col-sm"> <!--spacer--> </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="float-right text-muted small">Jan 11th 2019 8:30 AM</div> -->
                    <h4 class="card-title">2020</h4>
                    <ul>
                      <li>
                      Flask Basic</li>
                      <li>
                      Dash Plotly Basic</li>
                      <li>
                        <a href="https://insidesherpa.s3.amazonaws.com/completion-certificates/ANZ/ZLJCsrpkHo9pZBJNY_ANZ_9ZkpdTj4Neo9EKKzH_completion_certificate.pdf" target="_blank" class="about-link">
                        Virtual Experience Program - ANZ Banking</a>
                        <a href="https://github.com/Abhinavk910/Virtual-Internship/blob/master/ANZ/transaction%20data.ipynb" target="_blank" class="about-link">
                          :      Done exploratory data analytic and pridictive analytics.</a>
                      </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/row-->
    </div>
</div>

<div class="container py-5">

    <h2 class="bg-info  text-center"> Oil and Gas Journey</h2>
    <hr class="bg-info">

    <div class="container py-1">


      <div class="row no-gutters">
        <div class="col-sm"> <!--spacer--> </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="float-right text-muted small">Jan 9th 2019 7:00 AM</div> -->
                    <h4 class="card-title text-muted">2016</h4>
                    <ul>
                      <p class="card-text">
                        <li>
                          <a href="https://confirm.udacity.com/HKAREXDF" target="_blank" class="about-link">
                          Bachelor of Technology, Mechanical Engineer
                          </a>
                          from Delhi Technological University.
                        </li>
                        <li>
                          Joined
                          <a href="https://www.linkedin.com/company/triune-engineering-pvt-ltd/people/" target="_blank" class="about-link">
                          Triune Energy Service Pvt. Ltd.
                          </a>
                          as a Graduate Engineer Trainee.
                        </li>
                        <li>
                          Learned Excel basic and VBA.
                       </li>
                     </p>
                    </ul>
                </div>
            </div>
         </div>

      </div>

      <div class="row no-gutters">
          <div class="col-sm py-2">
              <div class="card border-success shadow">
                  <div class="card-body">

                      <!-- <div class="float-right text-success small">Jan 10th 2019 8:30 AM</div> -->
                    <h4 class="card-title text-success">2017</h4>
                    <p class="card-text">
                      <ul>
                        <li>
                          <a href="https://www.offshore-technology.com/projects/mumbai-high-field/" target="_blank" class="about-link">
                            Mumbai High Field - ONGC brown project
                           </a>
                            : Material consultant and Stress analyst.

                          </li>

                        </ul>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                  <span class="badge badge-pill bg-success">&nbsp;</span>
              </h5>
              <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
              </div>
          </div>
          <div class="col-sm"> <!--spacer--> </div>
      </div>

      <div class="row no-gutters">
        <div class="col-sm"> <!--spacer--> </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="float-right text-muted small">Jan 9th 2019 7:00 AM</div> -->
                    <h4 class="card-title text-muted">2018</h4>
                    <p class="card-text">
                      <ul>
                        <li>
                          <a href="http://static.conocophillips.com/files/resources/barossa-offshore-project20072018finalforprintnew.pdf" target="_blank" class="about-link">
                          Barossa Offshore - MODEC Feed Project
                          </a>
                          : Stress Analyst.
                        </li>
                      </ul>
                    </p>
                </div>
            </div>
         </div>




      </div>

      <div class="row no-gutters">
          <div class="col-sm py-2">
              <div class="card border-success shadow">
                  <div class="card-body">

                      <!-- <div class="float-right text-success small">Jan 10th 2019 8:30 AM</div> -->
                    <h4 class="card-title text-success">2019</h4>
                    <p class="card-text">
                      <ul>
                        <li>
                          <a href="https://www.modec.com/project/detail/area1.html" target="_blank" class="about-link">
                            Mexico Area 1 field - ENI FPSO project
                           </a>
                            : Stress analyst.

                          </li>

                        </ul>
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
              <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
              </div>
              <h5 class="m-2">
                  <span class="badge badge-pill bg-success">&nbsp;</span>
              </h5>
              <div class="row h-50">
                  <div class="col border-right">&nbsp;</div>
                  <div class="col">&nbsp;</div>
              </div>
          </div>
          <div class="col-sm"> <!--spacer--> </div>
      </div>

      <div class="row no-gutters">
        <div class="col-sm"> <!--spacer--> </div>
        <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
            <div class="row h-50">
                <div class="col">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
            <h5 class="m-2">
                <span class="badge badge-pill bg-light border">&nbsp;</span>
            </h5>
            <div class="row h-50">
                <div class="col border-right">&nbsp;</div>
                <div class="col">&nbsp;</div>
            </div>
        </div>
        <div class="col-sm py-2">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="float-right text-muted small">Jan 9th 2019 7:00 AM</div> -->
                    <h4 class="card-title text-muted">2020</h4>
                    <p class="card-text">
                      <ul>
                        <li>
                          BW offshore feed FPSO Project : Stress Analyst.
                        </li>
                      </ul>
                    </p>
                </div>
            </div>
         </div>




      </div>

    </div>
</div>

{% endblock %}
